*{
        box-sizing: border-box;
    }
    a{
        text-decoration: none;
        display: inline-block
        
    }
    ul, li{
    list-style: none;
    margin: 0;  
    padding: 0;
    }
    .container{
        max-width: 1140px;
        margin: 0 auto;
        padding: 0px 15px 0px 15px;
    }

    body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 18px;
    font-size: 16px;
    background-color: #f9f9f9;
    }
    /* начало верхней строки  header__top*/
    .header__top{
        display: flex;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        line-height: 18px;
        font-size: 18px;
        background-color: #0066cc;
        height: 40px;
        color: ivory;
        width: 100%;
        display: block;
        padding: 10px;
    
    }
    .header__contacts {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;}
    .header__email,
    .header__phone,
    .header__mobile{
        color: ivory;
    }

    .header__email{
        padding-left: 30px;
        position: relative;
        }
    .header__email:before {
        font-family: 'icomoon';
        content: "\f003";
        position: absolute;
        left: 0;
    }
    .header__phone{
        margin-left: 50px;
        padding-left: 20px;
        position: relative;
    }
    .header__phone:before{
        content: "\f095";
        font-family: 'icomoon';
        position: absolute;
        left: 0;
    }
    .header__mobile{
        margin-left: 50px;
        padding-left: 20px;
        position: relative;
    }
    
    .header__mobile:before{
        content: "\f10b";
        font-family: 'icomoon';
        position: absolute;
        left: 0;
    }

   /*языковой переключатель*/
   .dropbtn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }
  .dropbtn a{
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: block;
    float: right;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 7px;
    right: 0px;
  }
  .dropdown-content::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    transform: translate3d(-7px, -6px, 0);
    }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
    /*конец языкового переключателя*/

/* конец верхней строки  header__top*/
/********************************************************************/

/* начало  строки  меню .header__content*/

.header__content{
    background-color: #f0f0f0;    
    height:  80px; 
    }
    .header__content-inner{
        display: flex;
        justify-content: space-between;
    }
    .menu{
        padding: 29px 0px 29px 0px;
        list-style: none;
    }
    .menu ul,li {
        display: block; 
        
    }
    .header__logo{
        padding: 10px 0px 10px;
    }
    .menu a{
    color: #424242; 
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    border:3px solid transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 2px;
        transition: all 0.3s
    }
    .menu a:hover{
        border-color: #0066cc;
    }
    .menu li+li{
        padding-left: 15px;
    }
    .header__btn-menu{
        display: none;
        color: #0066cc;
        font-size: 65px;
        padding: 0px;


    /*******************************************************************/
   
    }
    .slider{
        background-image: url(../img/slider_fon.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 700px;
    }
    .slider__item-content{
        text-align: center;
        padding-top: 120px;
        max-width:908px;
        margin: 0 auto;}
    .slider__title{
    text-transform: uppercase;
    font-size: 60px;
    line-height:normal;
    color: ivory;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 30px;
    }
    .slider__text{
    font-size: 20px;
    line-height:normal;
    color: ivory;
    font-weight: 300;
    margin-bottom: 50px;
    }
    .default-btn{
    display: inline-block;
    font-size: 18px;
    line-height: 36px; 
    color: ivory;
    font-weight: 400;
    padding: 6px 20px 6px 24px;
    border: 2px solid ivory;
    border-right-width: 20px;
    position: relative;
    background-color:rgba(30,30,30,.6)1e;
    opacity:0.95
    }
    .default-btn:after{
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    color: black;
    top: 50%;
    transform: translateY(-50%);
    right: -14px;
    }
    .slider__inner{
        position: relative;
    }
    .slick-btn{
        position: absolute;
        top: 70%;
        z-index: 3;
        width: 40px;
        height: 40px;
        border: 1px   solid ivory;
        cursor: pointer;
        outline: none;
        background-color: #5a5959;
        }
    .slick-btn.slick-disabled{
        cursor: default;
        background-color: transparent;
    }
    .slick-btn:before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'icomoon';
    color: ivory;
    }
    .slick-next::before{
        content: "\f105"; 
    }
    .slick-next{
    right: 0;
    }
    .slick-prev::before{
        content: "\f104";
    }
    .slick-prev{
        left: 0;
    }
/*******************************************************************/

    .about {
    padding-top: 50px;
    }
    .about__top{
        display: flex;
        justify-content: space-between;
    }
    
    .about__title{
        color: #0066cc; 
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
    }
    .about__text{
    color: #5a5959; 
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
    }
    .about__btn a{
    color: #0066cc;   
    font-size: 18px;
    letter-spacing: .25px;
    padding: 5px 20px;
    font-weight: 500;
    }
    .about__btn{ 
       text-align: right;
    padding-bottom: 30px;
    }
    .about__items
    {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
    }
    .about__item{
        max-width: 31%;
        text-align: center;
        padding: 30px 10px 40px 10px;
        background-color: #f9f9f9;
        box-shadow: 0px 7px 24.3px 2.7px rgba(11, 38, 124, 0.14);
    }
    .about__item-title{
        color: #5a5959;   
        font-size: 28px;
        letter-spacing: .25px;
        font-weight: 700;
        padding-top: 30px;
        padding-bottom: 40px;

   }
    .about__item-text{
        color: #5a5959; 
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        padding-bottom: 60px;
    }
    .about__item-link {
            color: #0066cc;   
            font-size: 18px;
            line-height: 24px;
            letter-spacing: .25px;
            margin-right: 50px;
            font-weight: 500;
            border-bottom: 2px solid #0066cc;
    }
    .about__item-btn{
        display: inline-block;
        font-size: 18px;
        line-height: 24px; 
        color: #0066cc;
        font-weight: 600;
        padding: 3px 10px 3px 10px;
        border: 3px solid #0066cc;
        border-right-width: 20px;
        position: relative;
        background-color:#0066cc 0.3;
        opacity:0.95
    }
    .about__item-btn:after{
        content: "\f105";
        font-family: 'icomoon';
        position: absolute;
        color: ivory;
        top: 50%;
        transform: translateY(-50%);
        right: -14px;
    }

/*******************************************************************/


    .benefits {
        background-color: #E5E5E5;
        background-size: cover;
        min-height: 300px;  
        padding-bottom: 15px;
    }
    .benefits__items{
        display: block;
    }
    .benefits__img{
     position:absolute;
     
    }
    .benefits__title{
        padding-top: 30px;
        padding-bottom: 20px;
        position: relative;
        margin-left: 630px;
        text-align: center;
        font-size: 32px;
        line-height: 32px; 
        color: #0066cc;
        font-weight: 700;
    }
    .benefits__texts{
        padding-left: 50px;
        margin-left: 630px;
        font-size: 30px;
        line-height: 45px; 
        color: black;
        font-weight: 500;
        list-style-position: inside;
        text-align: left;
    }
    .benefits__texts ul, li{
        display: block;
        text-align: justify;
        list-style:none;
        float: left;
        position: relative;
        
    }
    .benefits__texts ul ::before{
        content: "\f00c";
        font-family: 'icomoon';
        position: absolute;
        color: #0066cc;
        top: 50%;
        transform: translateY(-50%);
        text-align: left;
        position: absolute;
        left: -45px;
        letter-spacing: 1.2px;
        
    }
    .benefits__link{
        position: relative;
        color: #0066cc;   
        font-size: 18px;
        line-height: 24px;
        letter-spacing: .25px;
        margin-right: 50px;
        font-weight: 500;
        border-bottom: 2px solid #0066cc;
        float: right;
    }
 /*******************************************************************/
  
    .news{
        padding-top: 30px;
    }   
    .news__title{
        color: #0066cc; 
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
        padding-top: 30;
               }  
    .news__slider{
       max-width: 100%;
       height: 100%;
       display: flex;
       justify-content: space-between;
       
    }
    .news__slider .news__slider-item {
        padding: 10px 15px;
    }
    .news__slider-item-box{
            max-width: 550;
            max-height:550px;
            text-align: center;
            padding: 15px 10px 40px 10px;
            background-color: #f9f9f9;
            box-shadow: 0px 7px 24.3px 2.7px rgba(11, 38, 124, 0.14);
    }
    .news__slider__item-img {
           max-width: 100%; 
    }
    .news___slider__item-title, .partners__title{
            color: #5a5959;   
            font-size: 28px;
            letter-spacing: .25px;
            font-weight: 700;
            padding-top: 30px;
            padding-bottom: 20px;
            text-align: left;
    }
    .news___slider__item-text{
            color: #5a5959; 
            font-size: 20px;
            font-weight: 400;
            line-height: 22px;
            text-align: justify;
    }

    .news .allnews-btn{
        text-align: center;
        font-size: 26px;
        line-height: 32px; 
        color: ivory;
        font-weight: 400;
        padding: 3px 10px 3px 10px;
        position: relative;
        background-color:#0066cc;
        float: right;
        border: 3px solid #0066cc;
        margin-right: 15px;
    }
    
    .news .allnews-btn::after{
        content: none;
    }
    .news__slider .slick-dots{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content:center;
        top: 100%;
        right: 45%;
    }
    .news__slider .slick-dots li {
        list-style: none;
        padding-right: 5px;
    }
    .news__slider .slick-dots button {
        color: ivory;
        background-color: #0066cc;
        font-size: 0px;
        height: 16px;
        font-weight: 400;
        border-radius: 50%;
 
    }
    .news__slider .slick-dots li.slick-active button{ 
        background-color: transparent;
        border: 2px solid #0066cc;
        color: #0066cc;
    }
    /*******************************************************************/

    .experience{
        margin-top: 50px;
    }
    .experience__title {
        color: #0066cc; 
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
        margin-top: 70px;
        }

    .experience__items {  
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        text-align: center;
        padding-bottom: 30px;

        }
       
     .experience__item{
        position: relative;
        max-width: 32%;
        max-height: 415px;
        padding: 15px 10px 15px 10px;
        align-items: center;
        background-color: #0066cc;
       /* box-shadow: 0px 7px 24.3px 2.7px rgba(11, 38, 124, 0.14);*/
        padding-top: 30px;
        border-radius: 4%;
    }
    .experience__item-title{
        color: ivory;   
        font-size: 32px;
        letter-spacing: .25px;
        font-weight: 700;
        
    }
    .experience__item-img{
        position: relative;
        padding-top: 30px;
        max-width: 100%;
        max-height: 100%;
        padding-bottom: 15px;
    }
    .experience__item-text{
        color: ivory;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        padding-bottom: 60px;
    }
    /*******************************************************************/

    .partners{
        padding-top: 30px;
    }   
    .partners_clients__title{
        color: #0066cc; 
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
        padding-top: 30;
    }  
    .partners__slider,.clients__slider {
        max-width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    .partners__slider .partners__slider-item,
    .clients__slider .clients__slider-item{
        padding: 10px 15px;
        background-color: transparent;
    }
    .partners__slider-item-box
    .clients__slider-item-box{
        max-width: 225px;
        max-height:175px;
        text-align: center;
        background-color: #f9f9f9;
        box-shadow: 0px 4px 16px rgba(12, 115, 213, 0.2);
    }
    .partners__slider__item-img,
    .clients__slider__item-img        {
               max-width: 100%; 
    }
    .partners__slider .slick-dots,
    .clients__slider .slick-dots{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content:center;
        top: 100%;
        right: 45%;
    }
    .partners__slider .slick-dots li,
    .clients__slider .slick-dots li {
        list-style: none;
        padding-right: 5px;
    }
    .partners__slider .slick-dots button,
    .clients__slider .slick-dots button  {
        background-color: #0066cc;
        font-size: 0px;
        width: 15px;
        height: 15px;
        font-weight: 400;
        border-radius: 50%;}
    .partners__slider .slick-dots li.slick-active button, 
    .clients__slider .slick-dots li.slick-active button{ 
        background-color: transparent;
        border: 2px solid #0066cc;
        color: #0066cc;
    }
 /*******************************************************************/
 
    .Testimonialst{
        margin-top: 50px;
        padding-top: 30px;
    }
    .Testimonialst__inner{
        margin: 50px auto;
        padding: 15px;
        background: radial-gradient(100% 503.1% at 0% 100%, #0C73D5 0%, #0066cc 100%);
        max-width: 100%;
        height: 400px;
        text-align: center;}
        
    .Testimonialst__title{
        color: ivory; 
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
        padding-top: 30;
    }  
    .Testimonialst__item{
        display: block;
    }
    .Testimonialst__items-inner{
        width: 100%;
    display: flex;
    }
    .Testimonialst__items-text{
        margin: 16px auto;
        padding: 15px;
        margin-bottom: 104px;
        background-color: #025DAF;
        filter: drop-shadow(0px 8px 16px rgba(33, 33, 33, 0.5));
        width: 95%;
        height: 170px;
        position: relative;
        font-size: 22px;
        border-radius: 8px;
         color: #f9f9f9;
        text-align: left;
        display: block;
    }
    
    .Testimonialst__items-img{
        width: 96px;
        height: 96px;
        border-radius: 50%;
        position: relative;
        top: -138px;
        left: 39px;
        border: 2px solid white;
       
    }
    .footer{
        background-color: #f0f0f0;
        display: block;
        height: 290px
    }
 .footer__logo{
    margin: 15px auto;
    position: absolute;
    }
.footer__title-l{
    width: 100%;
    position: relative;
    left: 150px;
    font-size: 32.67px;
    line-height: 24.5px;
    letter-spacing: 0.5px;
    top: 15px;
} 
.footer__title-H{
    width: 100%;
    position: relative;
    left: 150px;
    top: 15px;
    font-size: 55.9999px;
    line-height: 75%;
    font-weight: 700;}

    .footer__text{
        margin: 50px 0px;
        width: 41%;
        text-align: justify;
        color: #757575;
        font-size: 18px;
       bottom: 20px;
    }
.footer__about-title{
    line-height: 33px;
    position: relative;
    margin-left: 30%;
    margin-top: -288px;
    font-size: 26px;
    font-weight: 700;
    display: block;
    text-align: center;
}
.footer__about-items a {
    margin-top: 13px;
    text-align: center;
    margin-left: 30%;
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: .2px;
    color: #757575;

}
.footer__sitemap-title{
    line-height: 33px;
    position: relative;
    margin-left: 60%;
    margin-top: -214px;
    font-size: 26px;
    font-weight: 700;
    display: block;
    text-align: center;
}
.footer__sitemap-items a {
    margin-top: 8px;
    margin-left: 60%;
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: .2px;
    text-align: center;
    color: #757575;
}
.footer__copyright{
    background: radial-gradient(100% 90000.01% at 0% 0%, #0C73D5 0%, #1194F6 100%);
  
}
.footer__copyright-txt {
    margin: 20px auto;
    padding-top: 15px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    justify-content: center;
      color: white;}